# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/**/*
!run/kubejs/
!run/kubejs/data/
!run/kubejs/data/**/*
!run/kubejs/client_scripts/
!run/kubejs/client_scripts/*
run/kubejs/client_scripts/jsconfig.json
!run/kubejs/client_scripts/test/
!run/kubejs/client_scripts/test/*

!run/kubejs/startup_scripts/
!run/kubejs/startup_scripts/*
run/kubejs/startup_scripts/jsconfig.json
!run/kubejs/startup_scripts/test/
!run/kubejs/startup_scripts/test/*

!run/kubejs/server_scripts/
!run/kubejs/server_scripts/*
run/kubejs/server_scripts/jsconfig.json
!run/kubejs/server_scripts/test/
!run/kubejs/server_scripts/test/*

runs
run-data

repo
libs
